@model Bangazon.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this Order?</h3>
<div>
    
    <hr />
  
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
