@model Bangazon.Models.ProductViewModels.ProductTypesViewModel

@{
    ViewData["Title"] = "Product Types";
}
<h2 class="top-buffer">Product Types</h2>

<div class="row">
    <div class="col-md-10">
    @foreach (var type in Model.ProductTypes)
    {
        <div> 
            <a asp-controller="ProductTypes" asp-action="Detail" asp-route-type="@type.ProductType.ProductTypeId">
                @Html.DisplayFor(modelItem => type.ProductType.Label)
            </a>
            <span>@Html.DisplayFor(modelItem => type.Count)</span>
            <ul>
            @foreach (var product in type.Products)
            {
                <li>@product.Title</li>
            }
            </ul>
        </div>       
    }
    </div>
</div>
